# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Model files
*.keras
*.h5
*.pkl
*.pth

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# datasets
data512/
data512_balanced/

# paper
paper.pdf